@import '../../theming/theme';

.login__wrapper {
  width: 100vw;
  height: 100%;
  display: flex;
  background-color: #040405;
  overflow: hidden;
}

.aside__form {
  width: 100%;
  max-width: 560px;
  background-color: #fff;
}

.hero {
  flex: 1 1 auto;
  &--image {
    display: flex;
    height: auto;
    width: 100%;
    min-height: 100%;
    filter: brightness(65%);
  }
}


@media only screen and (max-width: 829px) {
  .login__wrapper {
    flex-direction: column;
  }
  .aside__form {
    max-width: unset;
  }
}

