<mat-drawer-container class="cms__wrapper" (backdropClick)="sidenavCloseStart = false">
  <mat-drawer #drawer [mode]="!mobileQuery.matches ? 'side' : 'over'" class="cms__drawer">
    <div class="logo">
      <app-gian-logo></app-gian-logo>
    </div>
    <div class="action__menu">
      <button mat-raised-button color="primary" (click)="openDialog()">Adicionar usuário</button>
      <button mat-button color="warn" [routerLink]="'/login'">Sair</button>
    </div>
  </mat-drawer>
  <mat-drawer-content class="cms__content">
    <header class="cms__header">
      <button (click)="drawer.toggle(); sidenavCloseStart = !sidenavCloseStart" mat-icon-button
        aria-label="Expandir menu">
        <mat-icon *ngIf="!sidenavCloseStart">menu</mat-icon>
        <mat-icon *ngIf="sidenavCloseStart">close</mat-icon>
      </button>
    </header>
    <div class="cms__list">
      <div class="search__wrapper">
        <mat-icon class="search__icon">search</mat-icon>
        <input type="search" (keyup)="applyFilter($event.target.value)" class="cms__list--search" placeholder="Busque por usuários">
      </div>
      <div class="cms__table">
        <app-user-table [dataSource]="dataSource"></app-user-table>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
