<mat-drawer-container class="cms__wrapper">
  <mat-drawer #drawer mode="side" class="cms__drawer">
    <div class="logo">
      <app-gian-logo></app-gian-logo>
    </div>
    <div class="action__menu">
      <button mat-raised-button color="primary" (click)="openDialog()">Adicionar usuário</button>
      <button mat-button color="warn">Sair</button>
    </div>
  </mat-drawer>
  <mat-drawer-content class="cms__content">
    <header class="cms__header">
      <button (click)="drawer.toggle(); sidenavCloseStart = !sidenavCloseStart" mat-icon-button
        aria-label="Expandir menu">
        <mat-icon *ngIf="!sidenavCloseStart">menu</mat-icon>
        <mat-icon *ngIf="sidenavCloseStart">close</mat-icon>
      </button>
    </header>
    <div class="cms__list">
      <div class="search__wrapper">
        <mat-icon class="search__icon">search</mat-icon>
        <input type="search" (keyup)="applyFilter($event.target.value)" class="cms__list--search" placeholder="Busque por usuários">
      </div>
      <div class="cms__table">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="Id">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nome </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
          </mat-paginator>
        </div>

      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
